.tile_div  {
    display: block;
    float: left;
    height: 50px;
    width: 100px;
    margin-right: 5px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

/* .title_div a.last {
    margin-right: 0;
} */

.clear {
    clear: both;
}