.box {
  vertical-align: middle;
  position: relative;
  height: 250px;
  width: auto;
  overflow: hidden;
}
.rdw-editor-toolbar.rich-text__toolbar {
  display: none;
}

.rdw-editor-wrapper:focus-within .rich-text__toolbar {
  display: flex;
}
